{% load issues_extras %}
{% load static %}


<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'issues:dashboard' %}" class="brand-link">
      <span class="brand-text font-weight-light">Issue Tracker</span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {% if request.user.profile_img %}
        <div class="image">
          <img src="/media/{{request.user.profile_img}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{request.user}}</a>
        </div>
        {% else %}
        <div class="info">
          Welcome, <a href="#" class="d-block">{{request.user}}</a>
        </div>
        {% endif %}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           <li class="nav-item">
            <a href="{% url 'issues:dashboard' %}"
               {% if request.path == '/' %}
                  class="nav-link active">
                {% else %}
                  class="nav-link">
                {% endif %}
              <i class="nav-icon fas fa-tachometer-alt"></i><p>Home</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#"
               {% if request.path == '#' %}
                  class="nav-link active">
                {% else %}
                  class="nav-link">
                {% endif %}
              <i class="nav-icon fas fa-user-check"></i><p>Assigned to Me</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="{% url 'issues:projects-list' %}" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Projects
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                  <a href="{% url 'issues:projects-list' %}"
                     {% if request.path == '/projects/' %}
                      class="nav-link active">
                    {% else %}
                      class="nav-link">
                    {% endif %}
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    <p>All projects</p>
                  </a>
                </li>

              {% projects_list as projects %}

              {% for project in projects %}
                <li class="nav-item">
                  <a href="{% url 'issues:project-detail' slug=project.slug %}"
                     {% if request.path == '/project/'|add:project.slug %}
                      class="nav-link active">
                    {% else %}
                      class="nav-link">
                    {% endif %}
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    <p>{{project.name}}</p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>