{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block body_class %}register-page{% endblock body_class %}

{% block content %}

<div class="register-box">

  <div class="card">
    <div class="card-body register-card-body">
      <h1>{% trans "Sign Up" %}</h1>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.username}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          {{ form.username.errors }}
        </div>
        <div class="input-group mb-3">
          {{ form.email}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          {{ form.email.errors }}
        </div>
        <div class="input-group mb-3">
          {{ form.password1 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          {{ form.password1.errors }}
        </div>
        <div class="input-group mb-3">
          {{ form.password2 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          {{ form.password2.errors }}
        </div>

        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
{% endblock %}
