{% extends "base.html" %}

{% block partials %}
<!-- Navbar -->
{% include "partials/_navbar.html" %}

<!-- Sidebar -->
{% include "partials/_sidebar.html" %}

{% endblock partials %}

{% block footer %}
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <a href="https://github.com/efefre/issue_tracker" target="_blank" title="Github Repository"><i class="fab fa-github"></i></a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020
</footer>
{% endblock footer %}

