{% extends "issues/base.html" %}
{% load i18n %}

{% block head_title %}{% trans issue_detail.slug %}{% endblock %}
{% block body_class %}sidebar-mini{% endblock body_class %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{issue_detail.summary|truncatechars:50}} <a class="btn btn-primary btn-sm" href="{% url 'issues:edit-issue' slug=issue_detail.slug %}">
                        <i class="fas fa-pencil-alt"></i> Edit</a></h1>
                    <small>Project: {{issue_detail.project.name}}</small>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'issues:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'issues:projects-list' %}">Projects</a></li>
                        <li class="breadcrumb-item active"><a
                                href="{% url 'issues:project-detail' slug=issue_detail.project.slug %}">{{issue_detail.project.name}}</a>
                        </li>
                        <li class="breadcrumb-item active">{{issue_detail.slug}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <p><strong>Type: </strong>
                            {% if issue_detail.type == 'bug' %}
                            <i class="fas fa-exclamation-circle" style="color: red"></i>
                            {% elif issue_detail.type == 'task' %}
                            <i class="fas fa-check-square" style="color:#007bff"></i>
                            {% endif %}
                            {{issue_detail.type}}
                        </p>
                        <p><strong>Status: </strong>
                            <span class="badge
                              {% if issue_detail.status == 'done' %}
                                badge-success
                              {% elif issue_detail.status == 'in progress' %}
                                badge-warning
                              {% elif issue_detail.status == 'to do' %}
                                badge-primary
                              {% elif issue_detail.status == 'cancel' %}
                                badge-danger
                              {% endif %}
                            ">{{issue_detail.status|upper}}</span>
                        </p>
                        <p><strong>Priority: </strong>{{issue_detail.priority}}</p>
                        {% if issue_detail.type == 'bug' %}
                        <p><strong>Environment: </strong>{{issue_detail.environment}}</p>
                        {% endif %}
                        <p><strong>Description: </strong>{{issue_detail.description}}</p>
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <p><strong>Assignee: </strong><img src="/media/{{issue_detail.assignee.profile_img}}"
                                                           class="img-circle elevation-1" style="width: 20px;">
                            {{issue_detail.assignee}}</p>
                        <p><strong>Reporter: </strong><img src="/media/{{issue_detail.reporter.profile_img}}"
                                                           class="img-circle elevation-1" style="width: 20px;">
                            {{issue_detail.reporter}}</p>
                        <p><strong>Created: </strong>{{issue_detail.created}}</p>
                        {% if issue_detail.updated|date:"d-m-Y H:i:s" != issue_detail.created|date:"d-m-Y H:i:s" %}
                        <p><strong>Updated: </strong>{{issue_detail.updated}}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% if issue_detail.attachments.all %}
                        <hr>
                        <h2 style="font-size: 1.6rem">Attachments</h2>
                        <div class="row">
                            {% for attachment in issue_detail.attachments.all %}
                            <div class="col-sm-2 text-center">
                                {% if 'pdf' in attachment.get_type %}
                                <a href="/media/{{attachment.file}}" target="_blank">
                                  <button class="btn btn-outline-dark"><i class="far fa-file-pdf"></i> File: pdf</button>
                                </a>
                                {% elif 'doc' in attachment.get_type %}
                                <a href="/media/{{attachment.file}}" target="_blank">
                                  <button class="btn btn-outline-dark"><i class="far fa-file-word"></i> File: doc</button>
                                </a>
                                {% elif 'excel' in attachment.get_type %}
                                <a href="/media/{{attachment.file}}" target="_blank">
                                  <button class="btn btn-outline-dark"><i class="far fa-file-excel"></i> File: excel</button>
                                </a>
                                {% else %}
                                <a href="/media/{{attachment.file}}" data-toggle="lightbox" data-title="Added: {{attachment.added}}" data-gallery="gallery">
                                  <img src="/media/{{attachment.file}}" class="img-fluid mb-2 img-thumbnail" />
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <h2 style="font-size: 1.6rem">Comments <a class="btn btn-primary btn-sm" href="{% url 'issues:add-comment' slug=issue_detail.slug %}"><i
                                class="fas fa-plus"></i> Add comment</a></h2>
                        {% if issue_detail.comments.all %}
                        {% for comment in issue_detail.comments.all %}
                        <div class="callout callout-info">
                            <h6><strong>{{comment.author}}</strong> added a comment - {{comment.created}}
                                {% if comment.updated|date:"d-m-Y H:i:s" > comment.created|date:"d-m-Y H:i:s" %}
                                <sup style="color: red;">edited</sup>
                                {% endif %}
                                <a class="btn-sm" href="{% url 'issues:edit-comment' pk=comment.pk %}">
                                    <i class="fas fa-pencil-alt"></i></a>
                            </h6>
                            <p>{{comment.text}}</p>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}
