{% extends "issues/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Projects" %}{% endblock %}
{% block body_class %}sidebar-mini{% endblock body_class %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Project detail: <strong>{{project_detail.name}}</strong></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'issues:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active"><a href="{% url 'issues:projects-list' %}">Projects</a></li>
                        <li class="breadcrumb-item active">{{project_detail.name}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        {% if not issues_in_project %}
        <p>There is no issues in this project!</p>
        {% else %}
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tasks</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 35%">
                            Summary
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Status
                        </th>
                        <th style="width: 10%" class="text-center">
                            Assignee
                        </th>
                        <th style="width: 30%">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in tasks_in_project %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a>
                                {{issue.summary|truncatechars:50}}
                            </a>
                            <br/>
                        </td>
                        <td>
                            <a>
                                {{issue.issue_type}}
                            </a>
                            <br/>
                        </td>
                        <td>
                            <a>
                                {{issue.issue_status}}
                            </a>
                            <br/>
                        </td>
                        <td>
                            <a>
                                {{issue.assignee}}
                            </a>
                            <br/>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Bugs</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 35%">
                            Summary
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Status
                        </th>
                        <th style="width: 10%" class="text-center">
                            Assignee
                        </th>
                        <th style="width: 30%">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in bugs_in_project %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a>
                                {{issue.summary|truncatechars:50}}
                            </a>
                            <br/>
                        </td>
                        <td>
                            <a>
                                {{issue.issue_type}}
                            </a>
                            <br/>
                        </td>
                        <td>
                            <a>
                                {{issue.issue_status}}
                            </a>
                            <br/>
                        </td>
                        <td>
                            <a>
                                {{issue.assignee}}
                            </a>
                            <br/>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        {% endif %}
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}